<div class="index">
	<div class="header">
		<p class="right">
			<%= link_to 'New', root_path %>
		</p>
		<p>Filter Topics</p>
	</div>
	<table>
	  <tbody>
	    <% @predictions.each do |prediction| %>
	      <tr>
	      	<td class="votes"><button>▲ &nbsp <span>5</span></button></td>
	        <td class="topic"><%= prediction.topic %></td>
	        <td class="description"><%= prediction.description %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>